@*@model IEnumerable<AdsMes.WEB.Models.ChecklistViewModel>*@

@model PagedList.IPagedList<AdsMes.WEB.Models.ChecklistViewModel>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Карты замены свёрл";
}

<h2>Список проверок</h2>

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@
<table class="table">
    <tr>
        <th width="Auto">
            @Html.DisplayName("ID")
        </th>
        <th width="Auto">            
            @Html.DisplayName("Дата и Время")
        </th>
        <th width="Auto">
            @Html.DisplayName("Отметка о соответствии")
        </th>
        <th width="Auto">
            @Html.DisplayName("Расслоение вверху")
        </th>
        <th width="Auto">
            @Html.DisplayName("Расслоение  внизу")
        </th>
        <th width="Auto">
            @Html.DisplayName("Расслоение слева")
        </th>
        <th width="Auto">
            @Html.DisplayName("Расслоение справа")
        </th>
        <th width="Auto">
            @Html.DisplayName("Длина панели, мм")
        </th>
        <th width="Auto">
            @Html.DisplayName("Штрихкод")
        </th>
        <th width="Auto">
            @Html.DisplayName("Фамилия")
        </th>
        <th width="Auto">
            @Html.DisplayName("Рабочее место")
        </th>
        <th width="Auto">
            @Html.DisplayName("Номер смены")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Conformity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Top)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Bottom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Left)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Right)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Length)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Barcode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Workplace)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ShiftNumber)
        </td>
        <td>
            @*@Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })*@
        </td>
    </tr>
}

</table>

<div>
    Страница @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) из @Model.PageCount
</div>
@Html.PagedListPager(Model, page => Url.Action("ChecklistViewAll", new { page }))

<div>
    @Html.ActionLink("На главную", "Index", null, new { @class = "btn btn-info" })
</div>
